* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #050505;
}
.main-title{
    color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

ul.linken {
    list-style: none;
    display: flex;
    margin-right: 100px;
}

ul.linken li {
    margin: 0 15px; 
}

ul.linken li a {
    color: #fff;
    text-decoration: none;
    text-align: end;
}

ul.linken .dropdown li {
    display: block;
}

ul.linken .dropdown {
    width: 100%;
    position: absolute;
    z-index: 100;
    display: none;
}

ul.linken li:hover .dropdown {
    display: block;
}
.image{
    position: relative;
    position: relative;
    left: 800px;
}
.main-image{
    width: 50%;
}
.screen-title{
    color: #e0ff65;
    font-size: 200px;
}
.home-screen{
    display: flex;
    position: absolute;
    top: 250px;
}
p{
    position: absolute;
    top: 500px;
}
span{
    color: #e0ff65;
}
.subscribe{
    color: #fff;
    text-align: center;
    margin-top: 150px;
    font-size: 70px;
}